* {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	font-size: 100%;
	font-family: Trebuchet MS, sans-serif;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: column;
            flex-flow: column;
}

header, footer {
	flex: 0 10 100px;
	-webkit-flex: 0 10 100px;
	    	
	background: #bbb;
	border-radius: 3px;
	border: solid 1px #222;
	
	margin: 4px;
	padding: 5px;
	
}

.flex-area {
	flex: 3 1 auto;
	-webkit-flex: 3 1 auto;
	    
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: row;
            flex-flow: row;
	
	background: #bbb;
	border-radius: 3px;
	border: solid 1px #222;

	margin: 4px;
	padding: 5px;
}

section {
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
	
  -webkit-flex: 4 1 auto;	
			flex: 4 1 auto;
	
	background: rgba(0, 0, 0, 0);
	border-radius: 3px;
	border: solid 1px #222;
  
	margin: 4px;
	padding: 5px;

	height: 1200px;

}

article {
	flex: 1 35%;
	-webkit-flex: 1 35%;

	background   : rgba(255, 187, 187, 0);
	border-radius: 3px;
	border       : solid 1px #222;
	
	margin: 4px;
	padding: 5px;
	
}

.featured-article {
	flex: 2 1 100%;
	-webkit-flex: 2 1 100%;

}

aside {
	flex: 0 0 240px;
	-webkit-flex: 0 0 240px;
	    
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: column;
            flex-flow: column;   
	    
	background: rgba(0, 0, 0, 0);
	border-radius: 3px;
	border: solid 1px #222;	

	margin: 4px;
	padding: 5px;
}

.box {
	flex: 1;
	-webkit-flex: 1;
	    
	background: #fbb;
	border-radius: 3px;
	border: solid 1px #222;
	
	margin: 4px;
	padding: 5px;
}

/*//////////////////////////////////////*/

.boxcontainer-fluid {
	width: 100% !important; 
}

.options-panel {
	width: 100%;
}
















