<div class="flex-container">
    <div class="logo-container">
        <img src="../../images/autodesk-logo.jpg" class="GeneratedImage">
    </div>
    <div>
        <ul id="menu-bar">
         <li class=""><a href="#">Home</a></li>
         <li><a href="#">Samples</a>
          <ul>
           <li><a href="#">Titanosaur</a></li>
           <li><a href="#">Stegosaurus</a></li>
           <li><a href="#">Utahraptor</a></li>
           <li><a href="#">Tyrannosaurus</a></li>
          </ul>
         <li class="nav-right"><a href="#">Contact Us</a></li>
        </ul>
    </div>

    <div class="bounding-container">
        <section>
            <!-- Graph of DNA -->
            <div class = "sub-section-1" id="dna-graph-container">
                <div id='dna-graph'></div>
                <span class="graph-title">Plesiosaur mitochondrial fragment #ALH84001</span>
            </div>
            
            <!-- Sequence and DBN definition-->
            <div class = "sub-section-1">
                <div id='matt_1'></div>
            </div>
            
        </section>

        <right-side-bar>
            <div class="side-bar-section">
                <h2>Node Properties</h2>
                <div id='color-controls'></div>
            </div>

            <!-- Configure line width -->
            <div class="side-bar-section">
                <input
                    id        ="line-width"
                    ng-model  ="dnaPlayground.lineWidth"
                    ng-change ="dnaPlayground.updateLineWidth({{dnaPlayground.lineWidth}})"
                    type      ="range"
                    min       ={{dnaPlayground.lineSizePicker.min}}
                    max       ={{dnaPlayground.lineSizePicker.max}}
                    value     ={{dnaPlayground.lineSizePicker.value}}/>
                
                <div>
                    <span class="slider-label-left">{{dnaPlayground.lineSizePicker.min}}px</span>
                    <span class="slider-label-right">{{dnaPlayground.lineSizePicker.max}}px</span>
                </div>
                <div class="custom-control-label-container">
                    <span class="custom-control-label">{{"Line Width"}}</span>
                </div>
            </div>

            <!-- Configure base pair size -->
            <div class="side-bar-section">
                <input
                    id        ="line-width"
                    ng-model  ="dnaPlayground.baseSize"
                    xxx-ng-change ="dnaPlayground.updateBaseWidth({{dnaPlayground.baseSize}})"
                    type      ="range"
                    min       ={{dnaPlayground.baseSizePicker.min}}
                    max       ={{dnaPlayground.baseSizePicker.max}}
                    value     ={{dnaPlayground.baseSizePicker.value}}/>

                <div>
                    <span class="slider-label-left">{{dnaPlayground.baseSizePicker.min}}px</span>
                    <span class="slider-label-right">{{dnaPlayground.baseSizePicker.max}}px</span>
                </div>                
                <div>
                    <span class="custom-control-label">{{"Base Size"}}</span>
                </div>

                <!-- <a href="#" ng-click="dnaPlayground.updateLineWidth()"  class="myButton">refresh</a> -->
            </div>

        </right-side-bar>

    </div>

</div>