<div class="flex-container">
    <!-- <header> -->
        <!-- <h1>DNA Playground</h1> -->
    <!-- </header> -->

    <div class="bounding-container">
            <div class = "article">
            Plesiosaur mitochondrial fragment #ALH84001
            </div>
    </div>

    <div class="bounding-container">
        <section>
            <!-- Graph of DNA -->
            <div class = "article" id="dna-graph-container">
                <div id='dna-graph'></div>
            </div>
            
            <!-- Sequence and DBN definition-->
            <div class = "article">
                <div id='matt_1'></div>
            </div>
            
        </section>

        <aside>
            <h1>Controls</h1>
            <div class="box">
                <div id='color-controls'></div>
            </div>

            <h1>Custom</h1>
            <h1>Controls</h1>
            <div class="box">empty</div>
        </aside>

    </div>

    <!-- <footer> -->
        <!-- <h1>Footer</h1> -->
    <!-- </footer> -->

</div>
