

<div class="flex-container">
    <header>
        <h1>DNA Playground</h1>
    </header>

    <div class="flex-area">
        
        <section>
            
            <article>
                <div id='snippetDiv'></div>
            </article>
            
            <article>
                <div id='matt_1'></div>
            </article>
            
            <article class="dna-graph">
                <div id='dna-graph'></div>
            </article>
            
        </section>

        <aside>
            <h1>Controls</h1>
            <div class="box">
                <div id='color-controls'></div>
            </div>

            <h1>Custom</h1>
            <h1>Controls</h1>
            <div class="box">empty</div>
        </aside>

    </div>

    <footer>
        <h1>Footer</h1>
    </footer>

</div>
