<!-- <meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/bene200/drawrnajs/master/style/bootstrap.css">
<link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/bene200/drawrnajs/master/style/spectrum.css">
<link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/bene200/drawrnajs/master/style/style.css">

<script src="./drawrna.js"></script>
 -->
<div id='snippetDiv'></div>








<script>
	
var yourDiv = document.getElementById('snippetDiv');
var Rna = require("drawrnajs");

var input = [
    "CAGCACGACACUAGCAGUCAGUGUCAGACUGCAWACAGCACGACACUAGCAGUCAGUGUCAGACUGCAWACAGCACGACACUAGCAGUCAGUGUCAGACUGCAWA",
    "..(((((...(((((...(((((...(((((.....)))))...))))).....(((((...(((((.....)))))...))))).....)))))...))))).."
];
var app = new Rna({
    el       : yourDiv,
    seq      : input[0],
    dotbr    : input[1],
    layout   : "naview",
    seqpanel : true,
    optspanel: true,
    resindex : true
})
app.render();



	
</script>


